@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
    font-family: "Pretendard",serif;
}
body{
    background-color: black;
    margin-top: 150px;
}
.wrap{
    width: 300px;
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid white;
    background-image: url(introduce.jpeg);
    background-position: center;
    background-size: cover;
}
.main{
    color: white;
    margin-top: 20px;
    margin-bottom: 5px;
}
.sub{
    width: 400px;
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 30px;
}
.wrap > a{
    width: 300px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color : coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 3px 3px 5px 0px white;
}
.wrap > a:hover{
    background-color: lightgray;
}

.instaicon{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 388px;
    left: 820px;
    border-radius: 50%;
}

.velogicon{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 462px;
    left: 820px;
    border-radius: 50%;
}

.githubicon{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 545px;
    left: 820px;
    border-radius: 50%;
}

.aboutme{
    border: 1px solid lightgray;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 300px;
    margin: 50px auto;
    padding-left: 100px;
}